.pt-5{
    padding-top: 15px !important;
}

.bg-whatsapp{
	background : #25d366 !important;
	padding: 12px 72px !important;
	color: #fff !important;
}

.pb-5{
    padding-bottom: 15px;
}
.mb-5{
    margin-bottom: 15px;
}